.App {
    text-align: center;
  }
  
  .question-card {
    margin: 0 auto;
    width: 600px;
    height: auto;

  
    /* Visual  */
    background-color: #28428F;
    padding: 16px;
    border-radius: 16px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  h2{
    height: 50px;
  }
  h3{
    height: 60px;
  }
  
  ul {
    list-style: none;
  }
  
  li {
    margin-top: 8px;
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    font-size: 20px;
    cursor: grab;
  }
  
  .question-text {
    font-size: 24px;
  }
  
  /* Final Results  */
  
  .final-results {

    margin: 0 auto;
    width: 600px; 
    height: auto;
    margin-top: 64px;
    background-color: #28428F;
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .col-lg-2{
    background-color:#28428F ;
  }
  
