*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.background-image{
  background-image: url(./Assets/bg.jpg);
  background-position: center;
  background-size: cover;
  height: 670px;
  width: 100%;
}
